<style>
  .fw-bold {
    font-weight: bold;
  }

  .bg-light {
    background-color: yellow;
  }
</style>

<h1>Dragon Ball Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <!--
      (input) -> modifica el valor cada que escribes
      (change) -> modifica el valor al salir de la caja de texto
    -->
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set( txtName.value )"
      (input)="name.set( txtName.value )"
      #txtName
    />
    <!--
      input.value (o txtPower.value) siempre devuelve un string, incluso cuando type="number"
      (input)="onPowerChange( txtPower.value )"
    -->
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set( +txtPower.value )"
      #txtPower
    />

    <input
      type="text"
      class="form-control mt-2"
      placeholder="Raza"
      [value]="race()"
      (input)="race.set( txtRace.value)"
      #txtRace
    />
    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado: </h3>
    <!-- <ul>
      @for (character of characters(); track character.id; let idx = $index;) {
        <li>
          <span>{{idx + 1}} - {{character.name}}</span>
          <strong class="text-danger"> ({{character.power}})</strong>
        </li>
      }
    </ul> -->

    <!-- Marcamos el primer registro -->
    <!-- <ul>
      @for (character of characters(); track character.id; let idx = $index, isFirst = $first) {
        <li [class.fw-bold]="isFirst">
          <span>{{idx + 1}} - {{character.name}}</span>
          <strong class="text-danger"> ({{character.power}})</strong>
        </li>
      }
    </ul> -->

    <!-- Marcamos el primer registro -->
    <ul>
      @for (character of characters(); track character.id; let idx = $index, isOdd = $odd, isLast = $last, total = $count) {
        <li [class.fw-bold]="isOdd">
          <span>{{idx + 1}} - {{character.name}}</span>
          <!-- <strong
            [class.text-danger]="character.power > 9000"
            [class.text-primary]="character.power <= 9000"
            > -->

          <strong
            [class.text-danger]="character.race === 'Sayayin'"
            [class.text-success]="character.race !== 'Sayayin'"
            >
            / Raza {{character.race}}
          </strong>

          <!-- <strong
            [ngClass]="powerClasses()"
            > -->

          <strong
            [ngClass]="powerClasses(character)"
            >
            ({{character.power}})
          </strong>
        </li>

        <!-- si es el ultimo registro... -->
        @if (isLast) {
          <p class="mt-2 text-info">Total de registros: {{ total }}</p>
        }
      }
    </ul>
  </div>

  <!-- <div class="col-12 col-sm-6">
    <h3>Listado Fuertes: </h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index, isOdd = $odd, isLast = $last, total = $count) {
        @if (character.power >= 1000) {
          <li>
            <span>{{idx + 1}} - {{character.name}}</span>
            <strong
              [class.text-danger]="character.race === 'Sayayin'"
              [class.text-success]="character.race !== 'Sayayin'"
              >
              / Raza {{character.race}}
            </strong>
            <strong
              [ngClass]="powerClasses(character)"
              >
              ({{character.power}})
            </strong>
          </li>
        }@else {
          <li><strong>Por las, puro bot....</strong></li>
        }

        @if (isLast) {
          <p class="mt-2 text-info">Total de registros: {{ total }}</p>
        }
      }
    </ul>
  </div> -->

  <!-- <div class="col-12 col-sm-6">
    <h3>Listado Débiles: </h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index, isOdd = $odd, isLast = $last, total = $count) {
        @if (character.power < 1000) {
          <li>
            <span>{{idx + 1}} - {{character.name}}</span>
            <strong
              [class.text-danger]="character.race === 'Sayayin'"
              [class.text-success]="character.race !== 'Sayayin'"
              >
              / Raza {{character.race}}
            </strong>
            <strong
              [ngClass]="powerClasses(character)"
              >
              ({{character.power}})
            </strong>
          </li>
        }
        @if (isLast) {
          <p class="mt-2 text-info">Total de registros: {{ total }}</p>
        }
      }
    </ul>
  </div> -->
</section>

