  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: l0px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active {
    color: white;
    text-decoration: underline;
    background-color: red;
  }
